@font-face {
    font-family: 'NeoTechDaciaRegular';
    src: url('../fonts/neotechdacia-regular-webfont.eot');
    src: local('NeoTechDaciaRegular'), url('../fonts/neotechdacia-regular-webfont.woff') format('woff'), url('../fonts/neotechdacia-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{

font-family:'NeoTechDaciaLight';
 src:url('../fonts/neotechdacia-light-webfont.eot');
 src:local('NeoTechDaciaLight'),
url('../fonts/neotechdacia-light-webfont.woff') format('woff'),
url('../fonts/neotechdacia-light-webfont.ttf') format('truetype');
 font-weight:normal;
 font-style:normal;

}