@import url(http://fonts.googleapis.com/css?family=Londrina+Solid);

/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* The Nivo Slider styles */
.nivoSlider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: none;
}

.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: white;
    filter: alpha(opacity=0);
    opacity: 0;
}

/* The slices and boxes in the Slider */
.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0;
}

.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}

.nivo-box img {
    display: block;
}

/* Caption styles */
.nivo-caption {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #000;
    color: #fff;
    width: 100%;
    z-index: 8;
    padding: 5px 10px;
    opacity: 0.9;
    overflow: hidden;
    display: none;
    -moz-opacity: 0.9;
    filter: alpha(opacity=8);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

.nivo-caption p {
    padding: 5px;
    margin: 0;
}

.nivo-caption a {
    display: inline !important;
}

.nivo-html-caption {
    display: none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer;
}

.nivo-prevNav {
    left: 0px;
}

.nivo-nextNav {
    right: 0px;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
    text-align: center;
    padding: 15px 0;
}

.nivo-controlNav a {
    cursor: pointer;
}

.nivo-controlNav a.active {
    font-weight: bold;
}

/* CUSTOM BIVA */

.nivo-caption {
    bottom: 20%;
    background: transparent;
    color: #fff;
    padding: 0;
    -moz-opacity: 1.0;
    filter: alpha(opacity=10);
    opacity: 1.0;
}

#slider {
    overflow: visible !important;
}

.nivo-caption {
    box-sizing: border-box;
    margin-left: -5px;
    z-index: 2000;
}

.angled {
    margin: 10px 0 0 -5px;
    padding: 10px 30px 0 40px;
    position: relative;
    height: 64px;
    width: 100;
    background: rgba(12, 48, 96, 0.9);
    float: left;
    color: #FFFFFF;
    z-index: 1001;
    clear: both;

}

.angled:before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 64px solid rgba(12, 48, 96, 0.9);
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 64px solid transparent;
    position: absolute;
    top: 0;
    right: -64px;
    clear: both;
}

.gray {
    height: 50px;
    background-color: rgba(153, 153, 153, 0.9);
    font-size: 0.65em;
}

.gray:before {
    border-top: 50px solid rgba(153, 153, 153, 0.9);
    border-right: 50px solid transparent;
    right: -50px;
}

.slider {
    background: transparent;
}

.nivo-directionNav a {
    z-index: 5000;
    font-family: "Londrina Solid";
    color: rgba(0, 0, 0, 0.5);
    font-size: 2em !important;
    top: 40%;
}

.nivo-nextNav {
    right: -40px;
}

.nivo-prevNav {
    left: -40px;
}

#menu ul li.current-menu-item a {
    z-index: 30;
}