/*
*	Responsive styles
*/
@media (max-width: 1440px) {
	body .owl-theme .owl-controls .owl-buttons div.owl-prev,
	.mgwoocommercebrands.brands-slider > .owl-theme .owl-controls .owl-buttons div.owl-prev {
		left: 30px;
	}
	body .owl-theme .owl-controls .owl-buttons div.owl-next,
	.mgwoocommercebrands.brands-slider > .owl-theme .owl-controls .owl-buttons div.owl-next {
		right: 30px;
	}
}
@media (min-width: 1200px) {
    .mgt-products-list.columns-6 .woocommerce-page ul.products li.product:nth-of-type(6n+1),
    .mgt-products-list.columns-6 .woocommerce ul.products li.product:nth-of-type(6n+1) {
        clear: both;
    }
    .mgt-products-list.columns-5 .woocommerce-page ul.products li.product:nth-of-type(5n+1),
    .mgt-products-list.columns-5 .woocommerce ul.products li.product:nth-of-type(5n+1) {
        clear: both;
    }
    .mgt-products-list.columns-4 .woocommerce-page ul.products li.product:nth-of-type(4n+1),
    .mgt-products-list.columns-4 .woocommerce ul.products li.product:nth-of-type(4n+1) {
        clear: both;
    }
    .mgt-products-list.columns-3 .woocommerce-page ul.products li.product:nth-of-type(3n+1),
    .mgt-products-list.columns-3 .woocommerce ul.products li.product:nth-of-type(3n+1) {
        clear: both;
    }
    .mgt-products-list.columns-2 .woocommerce-page ul.products li.product:nth-of-type(2n+1),
    .mgt-products-list.columns-2 .woocommerce ul.products li.product:nth-of-type(2n+1) {
        clear: both;
    }
    .mgt-products-list.columns-1 .woocommerce-page ul.products li.product:nth-of-type(1n+1),
    .mgt-products-list.columns-1 .woocommerce ul.products li.product:nth-of-type(1n+1) {
        clear: both;
    }
}
@media (max-width: 1200px) {
	.woocommerce-page div.product div.thumbnails .swiper-container .swipe-arrow-left, 
	.woocommerce-page div.product div.thumbnails .swiper-container .swipe-arrow-right {
		display: block;
	}
	.woocommerce-page div.product div.thumbnails a {
		width: 103px!important;
	}
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product {
		width: 25%!important;
	} 
	.woocommerce .col-md-9 ul.products li.product, 
	.woocommerce-page .col-md-9 ul.products li.product {
		width: 33.3333%!important;
	}
	.woocommerce .col-md-12 ul.products li.product:nth-of-type(4n+1), 
    .woocommerce-page .col-md-12 ul.products li.product:nth-of-type(4n+1) {
        clear: both;
    }
    .woocommerce .col-md-9 ul.products li.product:nth-of-type(3n+1), 
    .woocommerce-page .col-md-9 ul.products li.product:nth-of-type(3n+1) {
        clear: both;
    }
	.woocommerce .shipping_calculator {
	    margin-right: 0;
	}
	.woocommerce .shop-product .summary .quantity {
		margin-bottom: 10px!important;
	}
	.search-bar-toggle input[type="text"],
	.search-bar-toggle input[type="search"] {
	    width: 931px;
	}
	.header-menu li a {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.mgt-promo-block {
		width: 100%!important;
		background-size: cover!important;
	}
	header .header-center {
	    min-width: 0;
	}
	.header-info-2-text {
		margin-left: 60px;
	}
	.header-logo-center .search-bar #searchform #s {
		width: 180px;
		padding-right: 5px;
	}
	.woocommerce #coupon_code {
	    width: 180px;
	}
    .mgt-masonry.mgt-masonry-fullwidth {
	    -moz-column-count: 3;
	    -webkit-column-count: 3;
	    column-count: 3;
	}
	.portfolio-item-block .title {
	    font-size: 25px;
	}
	.mgt-menu-vertical.navbar .nav > li > .sub-menu, 
	.mgt-menu-vertical.navbar .nav > li > .children {
	    left: 220px;
	}
}

@media (max-width: 1024px) {
	.woocommerce-page div.product div.thumbnails a {
		width: 108px!important;
	}
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product {
		width: 33.3333%!important;
	} 
	.woocommerce .col-md-9 ul.products li.product, 
	.woocommerce-page .col-md-9 ul.products li.product {
		width: 50%!important;
	}
	.mgt-products-list .woocommerce-page ul.products li.product, 
	.mgt-products-list .woocommerce ul.products li.product {
	    width: 33.3333%!important;
	}
	.woocommerce .col-md-12 ul.products li.product:nth-of-type(4n+1), 
    .woocommerce-page .col-md-12 ul.products li.product:nth-of-type(4n+1) {
        clear: none;
    }
    .woocommerce .col-md-9 ul.products li.product:nth-of-type(3n+1), 
    .woocommerce-page .col-md-9 ul.products li.product:nth-of-type(3n+1) {
        clear: none;
    }
	.woocommerce .col-md-12 ul.products li.product:nth-of-type(3n+1), 
    .woocommerce-page .col-md-12 ul.products li.product:nth-of-type(3n+1) {
        clear: both;
    }
    .woocommerce .col-md-9 ul.products li.product:nth-of-type(2n+1), 
    .woocommerce-page .col-md-9 ul.products li.product:nth-of-type(2n+1) {
        clear: both;
    }
    .mgt-products-list .woocommerce-page ul.products li.product, 
	.mgt-products-list .woocommerce ul.products li.product {
		clear: none;
	}
    .mgt-products-list .woocommerce-page ul.products li.product:nth-of-type(3n+1), 
	.mgt-products-list .woocommerce ul.products li.product:nth-of-type(3n+1) {
	    clear: both;
	}
	header .search-bar {
		float: none;
		margin: 0 auto;
		display: table;
	}
	.header-logo-center .search-bar {
		margin: 0 auto;
	}
	.header-info-2-text {
		float: none;
		margin: 0 auto;
		display: table;
	}
	.mainmenu-belowheader:not(.menu-center) .navbar .nav > li:first-child > a {
	    padding-left: 15px;
	}
	.mainmenu-belowheader .navbar .nav > li:last-child > a {
		padding-bottom: 15px;
	}
	header .header-left.logo,
	header .header-center,
	header .header-right {
		display: block;
	}
	header .header-left.logo {
		text-align: center;
		margin: 20px 0;
	}
	header .header-logo-center .header-left.logo {
		text-align: left;
	}
	header .header-right ul.header-nav {
		float: none;
		margin: 0 auto;
		padding: 0;
		display: table;
	}
	.shopping-cart .shopping-cart-content {
		right: -80px;
	}
	header .header-right ul.header-nav > li {
		margin-left: 0;
	}
	header .col-md-12 {
		height: auto!important;
		display: block;
	}
	header > .container > .row {
		margin: 0;
	}
	header > .container {
		padding: 0;
	}
	.footer-sidebar > ul > li:first-child {
	    padding-left: 15px;
	}
	.footer-sidebar > ul > li:last-child {
	    padding-right: 15px;
	}
	.content-block,
	.fullwidth-section.parallax,
	.parallax,
	.fullwidth-section {
		background-attachment: scroll!important;
		background-position: center top!important;
	}
	footer .payment-icons,
	footer .copyright {
		text-align: center;
	}
	footer .copyright {
		margin-bottom: 15px;
	}
	.mgt-categories-list .mgt-category {
		width: 50%!important;
		height: 315px!important;
	}
	.mgt-categories-list.owl-carousel .mgt-category {
		width: 100%!important;
	}
	.mgt-post-list .mgt-post {
		width: 50%!important;
	}
	.mgt-post-list.owl-carousel .mgt-post {
		width: 100%!important;
	}
	.header-logo-center .header-center {
	    width: auto;
	}
	.header-logo-center .header-left {
	    width: auto;
	}
	.header-logo-center .header-right {
	    width: auto;
	}
	header.fixed {
	    position: relative;
	}
	header .header-right ul.header-nav > li.float-sidebar-toggle {
		margin-right: 0;
	}
	.product-navigation-prev,
	.product-navigation-next {
		display: none;
	}

}

@media (min-width: 979px) and (max-width: 992px) {
	
	.header-menu .menu-top-menu-container {
	    display: table;
	    float: none;
	    margin: 10px auto 0;
	}
	.header-info-text {
	    text-align: center;
	    margin-bottom: 10px;
	}
	/* Bootstrap padding fixes */
	.woocommerce-cart .col-md-8,
	.woocommerce-cart .col-md-4 {
		padding: 0;
	}
	.woocommerce-checkout .col-md-8,
	.woocommerce-checkout .col-md-4 {
		padding: 0;
	}
}

@media (max-width: 979px)  {
	.woocommerce .order-tracking-form .track_order {
	    padding: 30px;
	}
	.woocommerce .order-tracking-form > p {
		font-size: 14px;
	}
	#cloud-zoom-big {
		left: 0!important;
		right: 0!important;
	}
	.product-page-promo-block + .images + .summary {
	    width: 100%!important;
	    padding-right: 0;
	}
	.product-page-promo-block + .images {
	    width: 100%!important;
	    padding-right: 200px;
	}
	.woocommerce .related ul li.product, 
	.woocommerce .related ul.products li.product, 
	.woocommerce .upsells.products ul li.product, 
	.woocommerce .upsells.products ul.products li.product, 
	.woocommerce-page .related ul li.product, 
	.woocommerce-page .related ul.products li.product, 
	.woocommerce-page .upsells.products ul li.product, 
	.woocommerce-page .upsells.products ul.products li.product {
		width: 48%;
	}
	
	.footer-sidebar-2 > ul > li,
	.footer-sidebar > ul > li {
	    width: 50%;
	}
	.sidebar.footer-sidebar-2 ul li:nth-of-type(4n+1) {
		clear: none;
	}
	.sidebar.footer-sidebar-2 ul li:nth-of-type(2n+1) {
		clear: both;
	}
	.footer-sidebar > ul > li:nth-of-type(4n+1) {
	    clear: none;
	}
	.footer-sidebar > ul > li:nth-of-type(2n+1) {
	    clear: both;
	}
	.comments-area input[type="text"] {
	    width: 100%;
	}
	.shop-content {
		padding: 0;
	}
	input.span6,
	textarea.span6,
	.uneditable-input.span6 {
		width: 352px;
	}
	#sidebar > li {
	    width: 50%;
	}
	.footer-sidebar.sidebar.container > ul#footer-sidebar {
	    margin-left: 0;
	    margin-right: 0;
	}
	.footer-sidebar > ul > li {
		width: 50%;
	}
	.footer-sidebar-2 > ul > li {
		padding-left: 15px;
	}
	#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link:after {
	    right: -3px;
	}
	.wpml-wrapper {
	    display: table;
	    margin: 0 auto;
	    min-width: 155px;
	}
	.wpml-currency .wcml_currency_switcher {
		margin-top: 0;
	}
	.wpml-currency {
		border-right: 0;
	}
	.search-bar-toggle input[type="text"],
	.search-bar-toggle input[type="search"] {
	    width: 706px; /* 710 */
	}
	.header-menu .menu-top-menu-container {
	    display: table;
	    float: none;
	    margin: 10px auto 10px;
	}
	.header-info-text {
		text-align: center;
		margin-bottom: 10px;
	}
	.header-menu .row {
		margin-left: 0!important;
		margin-right: 0!important;
	}
	/* -- */
	.content-block > .container-fluid {
	    margin-left: 0;
	    margin-right: 0;
	    padding-left: 0;
	    padding-right: 0;
	}
	.content-block > .container-fluid > .row {
		margin-left: 0;
	    margin-right: 0;
	}
	.mgt-signup-block .mgt-signup-block-header {
		display: block;
		text-align: center;
		margin-bottom: 20px;
		padding: 0;
	}
	.mgt-signup-block .mgt-signup-block-form {
	    display: table;
	    margin: 0 auto;
	    padding: 0;
	}
	.woocommerce-page div.product div.thumbnails a.last {
		margin-right: 20px;
	}
	.woocommerce-page div.product div.thumbnails a:nth-of-type(3n) {
		margin-right: 0;
	}
	.woocommerce .shop-product .reviews-wrapper {
		width: 100%;
	}
	.woocommerce .shop-product .reviews-wrapper .col-md-2 {
	    text-align: center;
	}
	.woocommerce-checkout .woocommerce-checkout-review-order {
		margin-top: 30px;
	}
	/* Bootstrap padding fixes */
	.woocommerce-cart .col-md-8,
	.woocommerce-cart .col-md-4 {
		padding: 0;
	}
	.woocommerce-checkout .col-md-8,
	.woocommerce-checkout .col-md-4 {
		padding: 0;
	}
	.woocommerce-cart .col-md-4,
	.woocommerce-checkout .col-md-4  {
		margin-top: 30px;
	}
	.header-menu .col-md-12 {
		padding: 0;
	}
	.header-menu .search-bar-toggle {
		right: 0;
	}
	.woocommerce-checkout .woocommerce-billing-fields {
		margin-top: 0;
	}
	.portfolio-item-block,
	.portfolio-list.portfolio-grid-layout-1 .portfolio-item-block,
	.portfolio-list.portfolio-grid-layout-1 .portfolio-item-block:nth-of-type(n),
	.portfolio-list.portfolio-grid-layout-2 .portfolio-item-block,
	.portfolio-list.portfolio-grid-layout-2 .portfolio-item-block:nth-of-type(n),
	.portfolio-list.portfolio-grid-layout-3 .portfolio-item-block,
	.portfolio-list.portfolio-grid-layout-3 .portfolio-item-block:nth-of-type(n) {
		width: 33.3333%!important;
		padding-bottom: 33.3333%!important;
		float: left;
	}
	.mgt-menu-vertical.navbar .nav > li > .sub-menu, 
	.mgt-menu-vertical.navbar .nav > li > .children {
	    left: 165px;
	}
}

@media (min-width: 768px) and (max-width: 979px)  {
	blockquote {
		margin: 0;
	}
}

@media (max-width: 767px)  {

	.container.fullwidth-no-padding .row .col-md-12 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.st-sidebar-content-inner {
		margin-top: 0!important;
	}
	.woocommerce-checkout .checkout-login-form-wrapper {
	    display: table;
	    margin: 0 auto;
	    width: 100%;
	}
	.woocommerce-page div.product div.thumbnails.vertical {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 128px;
	}
	.shop-content .images.vertical-thumbnails {
	    padding-left: 128px;
	}
	.woocommerce-page div.product div.thumbnails .swipe-arrow-down {
		bottom: 30px;
	}
	.related-products-wrapper .container {
		margin: 0;
	}
	.related-products-wrapper .container .row {
		margin: 0;
	}
	.product-page-promo-block {
		width: 100%;
		position: relative;
	}
	.product-page-promo-block .products-mini {
		width: 50%;
		float: left;
	}
	.product-page-promo-block .products-mini .swipe-arrow-left {
		right: 45px;
	}
	.product-page-promo-block .products-mini .swipe-arrow-right {
		right: 20px;
	}
	.product-page-promo-block + .images + .summary {
	    padding-right: 0;
	}
	.product-page-promo-block + .images {
	    padding-right: 0;
	}
	.woocommerce .woocommerce-tabs.horizontal-tabs-fullwidth ul.tabs {
		background: none;
	}
	.woocommerce div.product .woocommerce-tabs.horizontal-centered-tabs ul.tabs {
		margin: 0;
		display: block;
	}
	.woocommerce div.product .woocommerce-tabs.horizontal-centered-tabs ul.tabs li a {
		font-size: 14px;
		margin: 0;
		padding: 12px 0;
	}
	.woocommerce-page div.product .woocommerce-tabs.horizontal-centered-tabs .panel {
		padding: 20px 0;
	}
	.woocommerce-page div.product .woocommerce-tabs .panel {
		padding: 20px;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		width: 100%;
		margin-bottom: 1px;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		width: 100%;
	}
	.woocommerce div.product .woocommerce-tabs.vertical-tabs ul.tabs {
	    float: none;
	    width: 100%;
	    margin-bottom: 0;
	}
	.woocommerce div.product .woocommerce-tabs.vertical-tabs .panel {
	    margin-left: 0;
	}
	.woocommerce-page div.product div.thumbnails a {
		width: 98px!important;
	}
	.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images,
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
		width: 100%;
		float: none;
	}
	.content-block > .container > .row {
		margin-left: 0;
		margin-right: 0;
	}
	.mgt-products-list .woocommerce-page ul.products li.product, 
	.mgt-products-list .woocommerce ul.products li.product {
	    width: 50%!important;
	}
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product {
		width: 50%!important;
	} 
	.woocommerce .col-md-9 ul.products li.product, 
	.woocommerce-page .col-md-9 ul.products li.product {
		width: 50%!important;
	}
	.woocommerce .col-md-12 ul.products li.product:nth-of-type(2n+1), 
    .woocommerce-page .col-md-12 ul.products li.product:nth-of-type(2n+1) {
        clear: both;
    }
    .woocommerce .col-md-9 ul.products li.product:nth-of-type(2n+1), 
    .woocommerce-page .col-md-9 ul.products li.product:nth-of-type(2n+1) {
        clear: both;
    }
    .mgt-products-list .woocommerce-page ul.products li.product:nth-of-type(2n+1), 
	.mgt-products-list .woocommerce ul.products li.product:nth-of-type(2n+1) {
	    clear: both;
	}
	header .col-md-12 {
		padding: 0;
	}
	.main-left-menu-place {
		padding-right: 0!important;
		margin-right: 0!important;
		margin-left: 0!important;
		margin-bottom: 10px!important;
	}
	#mega_main_menu.left ul > li > .mega_dropdown {
		width: 100%!important;
	}
	#mega_main_menu.primary {
        min-height: 0!important;
    }
	#mega_main_menu {
		margin-right: 0!important;
	}
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown > .mega_dropdown > li, 
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > .mega_dropdown > li {
	    padding-bottom: 0;
	}
	.woocommerce .shop-product .summary .cart button {
		margin-top: 0;
	}
	.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {
		width: 100%;
	}
	.woocommerce .cart-collaterals .cart_totals {
		float: right;
	}
	.woocommerce .cart-collaterals .cross-sells {
		float: left;
	}
	.nav .sub-menu, .nav .children {
		z-index: 0;
	}
	footer .col-md-6 {
		margin-bottom: 10px;
	}
	.navbar .navbar-toggle  {
		display: table;
	}
	.mainmenu-belowheader,
	.mainmenu-belowheader.mainmenu-dark {
		background: transparent;
	}
	.mainmenu-belowheader.mainmenu-dark .navbar .nav > li > a {
		color: #000000;
	}
	.mainmenu-belowheader.menu-center .nav {
		display: block;
	}
	.footer-sidebar.sidebar .widgettitle {
		margin-top: 20px!important;
	}
	.navbar .nav .sub-menu li:hover {
		border-bottom: 0;	
	}

	.navbar .container {
		background: none!important;
	}
	#menu-categories {
		background: #F8F8F8;
	}
	.nav .sub-menu, .nav .children,
	.navbar .nav .sub-menu li {
		border: 0;
	}
	.mainmenu-belowheader .navbar .nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.navbar-collapse {
	    padding-right: 0;
	}
	.mainmenu-belowheader {
		background: none!important;
	}
	.nav .sub-menu, .nav .children {
		box-shadow: none;
	}
	.navbar {
		padding-bottom: 0;
		margin: 0;
	}
	header .navbar {
		padding-bottom: 0;
		margin: 0;
	}
	.nav .sub-menu li .sub-menu,
	.nav .children li .children {
		margin-top: 0!important;
	}
	.nav .sub-menu li.menu-item > a, 
	.nav .children li.menu-item > a {
		font-size: 15px;
	}
	.navbar .nav > li > a {
		font-size: 15px;
	}
	.nav > li > .sub-menu,
	.nav > li > .children {
	    left: 0!important;
	    padding-top: 0;
	    padding-bottom: 0;
	}
	.navbar-collapse {
	    padding: 0;
	}
	.nav .sub-menu li a {
		background: none!important;
	}
	.nav a:hover {
		background: none!important;
	}
	.shopping-cart .shopping-cart-content {
		display: none!important;
	}
	.navbar .nav li {
		display: block;
		width: 100%;
	}
	.nav .sub-menu, 
	.nav .children {
		padding: 0;
		position: relative;
		margin-left: 10px;
	}
	.nav .sub-menu li .sub-menu, 
	.nav .children li .children {
		display: block;
		position: relative;
		right: auto;
		margin-top: 0;
	}
	.nav .sub-menu li .sub-menu a, 
	.nav .children li .children a {
		background: none;
	}
	.nav .sub-menu li a, 
	.nav .children li a {
		background: none;
		padding: 5px 10px;
		display: block;
		width: auto;
	}
	.loop-item-nav a {
		margin-left: 10px;
		margin-right: 10px;
	}
	.navbar .nav li a {
		padding: 5px 14px;
	}
	.navbar .nav li a:hover {

	}
	.navbar .nav > li > a {
		font-weight: bold;
	}
	.navbar .nav > li > a:hover {
		color: inherit;
	}
	.loop-item-nav .span6 {
		width: 50%;
		float: left;
	}
	.author-bio {
		padding: 15px;
	}
	.author-bio .author-image {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		margin-right: 15px;
	}
	.author-bio .author-image img {
		width: 50px;
		height: auto;
	}
	.woocommerce-category-description {
		margin-bottom: 0;
	}
	.woocommerce-category-description + .woocommerce-subcategories-list{
		margin-top: 20px;
	}
	.mgt-categories-list {
		margin-bottom: 20px;
	}
	.woocommerce-category-description .mgt-promo-block {
		margin-bottom: 0!important;
	}
	.shop {
		margin-top: 15px;
	}
	.content-block.blog-post {
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	.mgt-masonry-item .content-block.blog-post {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.blog-post .post-content {
	    margin-left: 0;
	}
	.blog-post .post-date-wrapper {
		margin: 0 auto;
    	width: 72px;
    	margin-bottom: 20px;
    	float: none;
	}
	.blog-post .post-content-wrapper {
		width: 100%;
		float: none;
	}
	body {
		padding-left: 0;
		padding-right: 0;
	}
	.page-header {
		font-size: 30px;
		padding-bottom: 23px;
	}
	.header-title {
		top: 50%;
		margin-top: -100px;
	}
	.page-header {
		font-size: 10px;
	}
	footer .header-social {
		float: none;
		margin-left: 10px;
	}
	.shopping-cart {
		margin-bottom: 10px;
	}
	.search-bar-toggle input[type="text"],
	.search-bar-toggle input[type="search"] {
	    width: 150px;
	    font-size: 14px;
	    display: block;
	}
	.search-bar-toggle {
	    position: relative;
	    right: 0;
	    top: 12px;
	    width: 194px;
	    display: table;
	    margin: 0 auto;
	    margin-bottom: 10px;
	}
	.search-bar-toggle input[type="submit"], .search-bar-toggle input[type="button"] {
		float: left;
	}
	.mgt-promo-block {
		margin-bottom: 30px!important;
	}
	.woocommerce-page-title-wrapper .col-md-12 {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.woocommerce #coupon_code {
	    width: 150px;
	}
	.mgt-masonry,
	.mgt-masonry.mgt-masonry-fullwidth {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    .mgt-menu-vertical.navbar .nav > li,
	.mgt-menu-vertical.navbar .nav > li:first-child {
		border: 0;
	}
	.mgt-menu-vertical.navbar .nav > li > a {
		padding-left: 0;
		padding-right: 0;
	}
	.mgt-menu-vertical.navbar {
		margin-bottom: 30px!important;
	}

}

@media (max-width: 568px)  {
	body .wpb_content_element.wpb_tour .wpb_tabs_nav {
	    width: 100%;
	    float: none;
	}
	body .wpb_content_element.wpb_tour .wpb_tour_next_prev_nav {
	    margin-left: 0;
	    float: none;
	}
	body .wpb_content_element.wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {
	    width: 100%;
	    padding-top: 15px;
	    padding-left: 0;
	}
	body .wpb_tour_next_prev_nav {
		padding-left: 0;
	}
	.woocommerce-checkout .checkout-coupon-wrapper input {
		width: 100%;
	}
	.table-cart-actions input,
	.woocommerce #coupon_code {
		width: 100%;
	}
	.woocommerce #coupon_code {
		margin-bottom: 10px;
	}
	.woocommerce-page .table-cart-actions {
		margin-bottom: 30px;
	}
	.woocommerce-page .table-cart-actions .coupon {
		float: none;
	}
	.woocommerce-page .table-cart-actions .button.update-cart {
		float: none;
		margin-top: 10px;
	}
	.woocommerce .order-tracking-form .form-row {
	    float: none;
	    width: 100%!important;
	    margin-right: 0;
	}
	.woocommerce .order-tracking-form .track_order { 
		margin-bottom: 0;
	}
	.woocommerce .order-tracking-form .form-row .button {
	    margin-top: 15px;
	    width: 100%;
	}
	.woocommerce .order-tracking-form > p {
		margin-bottom: 30px;
	}
	.page-404 {
	    margin: 30px auto;
	}
	.page-404 h1 {
	    color: #4686CC;
	    font-size: 60px;
	    margin-bottom: 20px;
	}
	.page-404 h3 {
	    font-size: 25px;
	    margin-bottom: 35px;
	}
	.mgt-categories-list .mgt-category {
		width: 100%!important;
	}
	.mgt-post-list .mgt-post {
		width: 100%!important;
	}
	#footer-sidebar-2 + .line {
		display: none;
	}
	header .logo {
		float: none;
		text-align: center;
		margin:  10px 0;
	}
	.shopping-cart {
		float: none;
		margin: 0 auto;
	}
	.search-bar #searchform {
		float: none;
		display: table;
		margin-bottom: 10px;
	}
	.woocommerce .col-md-12 ul.products li.product, 
	.woocommerce-page .col-md-12 ul.products li.product {
	    width: 100%;
	}
	.woocommerce-page.columns-5 ul.products li.product, 
	.woocommerce.columns-5 ul.products li.product {
		width: 50%;
	}
	.woocommerce .col-md-9 ul.products li.product, 
	.woocommerce-page .col-md-9 ul.products li.product {
		width: 100%;
	}
	.woocommerce .cart-collaterals .cart_totals, 
	.woocommerce-page .cart-collaterals .cart_totals {
		width: 100%;
	}
	.woocommerce .cart-collaterals .cross-sells, 
	.woocommerce-page .cart-collaterals .cross-sells {
		width: 100%;
	}
	.woocommerce-message a {
		float: none!important;
		margin-bottom: 10px!important;
		clear: both!important;
		display: block!important;
	}
	.woocommerce table.cart td.actions .coupon {
		padding-bottom: 0;
	}
	.woocommerce table.cart td.actions .coupon .input-text,
	.woocommerce table.cart td.actions .coupon .input-text + .button,
	.woocommerce table.cart td.actions input {
		float: none!important;
		margin: 0 auto 10px!important;
		display: table!important;
		width: 100%!important;
	}
	.woocommerce table.cart td.actions {
		padding: 0 10px;
	}
	.woocommerce table.cart td,
	.woocommerce table.cart th {
		padding: 2px;
	}
	.woocommerce table.cart .checkout-button {
		font-size: 9px;
		height: 36px;
	}
	.woocommerce .shop_table.cart .quantity .minus,
	.woocommerce .shop_table.cart .quantity .plus {
		display: none;
	}
	.woocommerce .shop_table.cart .quantity input.qty {
		width:30px;
		font-size: 12px;
		float: none;
	}
	.woocommerce .cart_item {
		font-size: 12px;
	}
	.woocommerce .shop_table.cart .quantity {
		width: auto;
	}
	.woocommerce .shop-product .variations .select2-choice {
	    min-width: 0;
	}
	.page-404 {
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.fullwidth-section img {
		height: auto;
    	max-width: 100%;
	}
	.wpcf7-form-control {
	    width: 100%;
	}
	.col-md-9 .woocommerce .cart-collaterals ul.products li.product {
		width: 100%;
	}
	.mgt-signup-block h5 {
		font-size: 25px;
	}
	.mgt-signup-block .mgt-signup-block-form input.email {
		width: 150px;
	}
	.wishlist_table, 
	.wishlist_table thead, 
	.wishlist_table tbody, 
	.wishlist_table th, 
	.wishlist_table td, 
	.wishlist_table tr { 
		display: block; 
	}
	.wishlist_table thead {
		display: none;
	}
	.wishlist_table td {
		border: none!important;
	}
	.wishlist_table tr > td.product-remove {
		float: right;
	}
	.wishlist_table tr {
		margin-top: 30px;
	}
	.portfolio-item-block,
	.portfolio-list.portfolio-grid-layout-1 .portfolio-item-block,
	.portfolio-list.portfolio-grid-layout-1 .portfolio-item-block:nth-of-type(n),
	.portfolio-list.portfolio-grid-layout-2 .portfolio-item-block,
	.portfolio-list.portfolio-grid-layout-2 .portfolio-item-block:nth-of-type(n),
	.portfolio-list.portfolio-grid-layout-3 .portfolio-item-block,
	.portfolio-list.portfolio-grid-layout-3 .portfolio-item-block:nth-of-type(n) {
		width: 50%!important;
		padding-bottom: 50%!important;
		float: left;
	}
}

@media (max-width: 480px)  {
	.portfolio-navigation-prev,
	.portfolio-navigation-next {
		display: none;
	}
	#TB_window {
		margin-left: 0!important;
		width: 100%!important;
		left: 0!important;
	}
	.mgt-masonry,
	.mgt-masonry.mgt-masonry-fullwidth {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
	.woocommerce-page div.product div.thumbnails.vertical {
	    width: 64px;
	}
	.woocommerce-page div.product div.thumbnails.vertical a {
		width: 49px!important;
	}
	.woocommerce-page div.product div.thumbnails .swipe-arrow-down {
		width: 49px;
	}
	.woocommerce-page div.product div.thumbnails.vertical .swiper-container {
	    height: 220px;
	}
	.shop-content .images.vertical-thumbnails {
	    padding-left: 64px;
	}
	.product-page-promo-block .products-mini {
		width: 100%;
		float: none;
	}
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product {
		width: 100%!important;
	} 
	.woocommerce .col-md-9 ul.products li.product, 
	.woocommerce-page .col-md-9 ul.products li.product {
		width: 100%!important;
	}
	.mgt-products-list .woocommerce-page ul.products li.product, 
	.mgt-products-list .woocommerce ul.products li.product {
	    width: 100%!important;
	}
	.woocommerce .col-md-12 ul.products li.product:nth-of-type(1n+1), 
    .woocommerce-page .col-md-12 ul.products li.product:nth-of-type(1n+1) {
        clear: both;
    }
    .woocommerce .col-md-9 ul.products li.product:nth-of-type(1n+1), 
    .woocommerce-page .col-md-9 ul.products li.product:nth-of-type(1n+1) {
        clear: both;
    }
    .mgt-products-list .woocommerce-page ul.products li.product:nth-of-type(1n+1), 
	.mgt-products-list .woocommerce ul.products li.product:nth-of-type(1n+1) {
	    clear: both;
	}
	.footer-sidebar-2 > ul > li {
	    min-height: 0;
	}
	header .col-md-12 {
		display: block;
	}
	#mega_main_menu.left {
		margin: 0;
	}
	.woocommerce .woocommerce-ordering select, 
	.woocommerce-page .woocommerce-ordering select {
		margin-top: 0;
	}
	.woocommerce td.product-quantity, .woocommerce-page td.product-quantity {
	    min-width: 0;
	}
	.woocommerce .woocommerce-breadcrumb {
		margin-bottom: 0;
	}
	.woocommerce .related ul li.product, 
	.woocommerce .related ul.products li.product, 
	.woocommerce .upsells.products ul li.product, 
	.woocommerce .upsells.products ul.products li.product, 
	.woocommerce-page .related ul li.product, 
	.woocommerce-page .related ul.products li.product, 
	.woocommerce-page .upsells.products ul li.product, 
	.woocommerce-page .upsells.products ul.products li.product {
		width: 100%;
	}
	.content-block > .container {
		padding: 0;
	}
	.content-block > .container.shop {
		padding: 0;
	}
	.blog-post .post-info {
		line-height: 1.7em;
	}
	.comment-meta .reply {
		float: none;
		display: table;
		margin: 0 auto;
		margin-top: 10px;
	}
	.comment-meta .reply a {
		padding: 10px 15px;
	}
	.comment-author {
		width: 50px;
		margin: 15px 15px 15px 0;
	}
	.comment-metadata {
		margin-top: 15px;
		margin-bottom: 0;
	}
	.comment-list li:first-child {
		margin-top: 0;
	}
	.comment-author img {
		border-radius: 25px;
		width: 50px;
		height: auto;
	}
	#sidebar .widgettitle {
		margin-right: 0;
	}
	.page-header  {
		line-height: 1;
		font-size: 20px;
		padding-bottom: 10px;
	}
	#sidebar > li {
	    width: 100%;
	}
	.col-md-9 .woocommerce .checkout-button {
	    margin-top: 0;
	}
	.header-menu li a {
		margin-bottom: 10px;
		width: 50%;
	}
	.header-menu li:nth-child(2n) a {
		border-right: 0;
	}
	.header-menu .menu-top-menu-container {
		margin: 0 auto;
	}
	.header-info-text {
		margin-bottom: 10px;
	}
	.header-info-text .sep {
		display: none;
	}
	.header-info-text .header-info-text-content {
		display: block;
		margin-top: 5px;
	}
	.mgt-cta-block .mgt-button {
		float: none;
		margin: 0 auto 20px;
		display: table;
	}
	.mgt-cta-block {
		text-align: center;
	}
	html.offcanvasmenu .st-content-inner {
	    margin-top: 0!important;
	}
	html.offcanvasmenu .woocommerce .woocommerce-result-count, 
	html.offcanvasmenu .woocommerce-page .woocommerce-result-count {
		display: none;
	}
}

@media (max-width: 400px)  {
	.portfolio-item-block,
	.portfolio-list.portfolio-grid-layout-1 .portfolio-item-block,
	.portfolio-list.portfolio-grid-layout-1 .portfolio-item-block:nth-of-type(n),
	.portfolio-list.portfolio-grid-layout-2 .portfolio-item-block,
	.portfolio-list.portfolio-grid-layout-2 .portfolio-item-block:nth-of-type(n),
	.portfolio-list.portfolio-grid-layout-3 .portfolio-item-block,
	.portfolio-list.portfolio-grid-layout-3 .portfolio-item-block:nth-of-type(n) {
		width: 100%!important;
		padding-bottom: 100%!important;
		float: left;
	}
	.footer-sidebar-2 > ul > li,
	.footer-sidebar > ul > li {
	    width: 100%;
	}
	.tparrows, 
	.tp-bullets {
		display: none!important;
	}
	.page-item-title h1 {
		font-size: 24px;
	}
}

@media (max-width: 380px)  {
	.search-bar #searchform #s,
	.header-logo-center .search-bar #searchform #s {
		width: 85px;
		padding-right: 15px;
	}
	.woocommerce .shop-product .summary .single_add_to_cart_button {
		margin-top: 10px;
	}
}

@media (max-width: 240px)  {
	
}
/* Responsive grid layout changes */
@media (min-width: 768px) {
    .container-fluid .col-md-12 .vc_row {
        width: 770px;
    }
}
@media (min-width: 992px) {
    .container-fluid .col-md-12 .vc_row {
        width: 1000px;
    }
}
@media (min-width: 1200px) {
    .container-fluid .col-md-12 .vc_row {
        width: 1200px;
    }
}