@font-face {
    font-family: 'NeoTechDaciaRegular';
    src: url('./neotechdacia-regular-webfont.eot');
    src: local('NeoTechDaciaRegular'), url('./neotechdacia-regular-webfont.woff') format('woff'), url('./neotechdacia-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{

font-family:'NeoTechDaciaLight';
 src:url('./neotechdacia-light-webfont.eot');
 src:local('NeoTechDaciaLight'),
url('./neotechdacia-light-webfont.woff') format('woff'),
url('./neotechdacia-light-webfont.ttf') format('truetype');
 font-weight:normal;
 font-style:normal;

}