

/* Reset */
body,
html,
header,
main,
footer,
section {
    float: left;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* Main Elements */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
    font-weight: 300;
    padding-top: 80px;
}

body.mce-content-body {
    padding-top: 0;
}

a:link,
a:visited {
}

a:hover {
}

a:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}


.wrapper {
    max-width: 1170px;
}

/* Bootstrap Corrections */

.navbar-form {
    margin: 0;
}

input,
textarea,
button,
.form-control {
    border-radius: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 100;
}



/* Accordion */
.bb-accordion .panel {
    background: none;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bb-accordion .panel-heading {
    position: relative;
}

.bb-accordion .panel-title {
    margin: 0;
}

.bb-accordion .panel-title a {
    display: inline-block;
    width: 100%;
}

[data-toggle="collapse"]:after {
    content: '-';
    position: absolute;
    right: 10px;
}

[data-toggle="collapse"].collapsed:after {
    content: '+';
    position: absolute;
    right: 10px;
}

.panel-collapse.collapse {
    display: none;
}

.panel-collapse.collapse.in {
    display: block;
}

/* Facility card */
.bb-facility-card {
    position: relative;
}

.bb-facility-card .map-overlay {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.facility-card-content {
    background: #fff;
    border: 1px solid #eee;
    bottom: 225px;
    box-shadow: 0px 3px 5px -2px #ddd;
    color: #003057;
    left: 50%;
    margin-left: -500px;
    padding: 50px;
    position: absolute;
    width: 1000px;
    z-index: 2;
}

.facility-card-content h1 {
    font-size: 6.5em;
    font-weight: 900;
    margin: 0;
}

.facility-card-content p {
    font-size: 1.9em;
    font-weight: 500;
    margin: 0;
}

/* XX-Small Devices */

@media (max-width: 459px){
    .col-xxs-12 {
      width: 100%;
    }
    .col-xxs-11 {
      width: 91.66666667%;
    }
    .col-xxs-10 {
      width: 83.33333333%;
    }
    .col-xxs-9 {
      width: 75%;
    }
    .col-xxs-8 {
      width: 66.66666667%;
    }
    .col-xxs-7 {
      width: 58.33333333%;
    }
    .col-xxs-6 {
      width: 50%;
    }
    .col-xxs-5 {
      width: 41.66666667%;
    }
    .col-xxs-4 {
      width: 33.33333333%;
    }
    .col-xxs-3 {
      width: 25%;
    }
    .col-xxs-2 {
      width: 16.66666667%;
    }
    .col-xxs-1 {
      width: 8.33333333%;
    }    
}
/* X-Small devices*/
@media (max-width:767px) {
}

/* Small devices */
@media (max-width:992px) {
}

/* Medium devices */
@media (max-width:1199px) {
}

/* Large Devices */
@media (min-width: 1200px) {
}



/* Elements */

body {
    font-family: 'FF-DIN';
    font-size: 1em;
    line-height: 2;
    background: #f7f7f7;
    color: #151515;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    font-size: 4.2em;
}
h2 {
    font-size: 3.2em;
    margin: 0.75em 0 0.25em 0;
}
h3 {
    font-size: 2.8em;
    margin: 0.75em 0 0.25em 0;
}
h4 {
    font-size: 2.4em;
}
h5 {
    font-size: 2.2em;
}
p {
    margin: 1em 0;
}
h1, h2, h3, h4, h5 {
    font-weight: 400;
}

a {
    color: #003057;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #777;
}
/* Input and Forms */

.form-control {
    font-size: 1em;
    padding: 9px 16px;
    height: auto;
}
select {
    width: 100%;
}
/* Icon Styling */

.ion {
    font-size: 2.5em;
    width: 1em;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
    text-align: center;
    line-height: 1em;
    height: 1.1em;
}
.dropdown-toggle i {
    float: right;
    margin-left: 0.75em;
}
/* Navigation Menu */

.navbar {
    min-height: 4em;
    box-shadow: none;
    background: #fff;
    border-bottom: 0;
    box-shadow: inset 0 -3px 0 #eee;
}
.navbar-brand-logos {
    position: absolute;
    top: 0;
    right: 0;
}
.navbar-nav {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    float: none;
}
.navbar-nav li {
    display: inline-block;
    float: none;
}
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin: 0;
}
.navbar-brand {
    padding: 1em;
    box-shadow: inset 0 -3px 0 #003057;
}
.navbar-brand img {
    max-height: 2em;
}
.navbar-default .navbar-nav>li>a {
    font-weight: 400;
    color: #003057;
    transition: box-shadow 150ms ease;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #777;
    box-shadow: inset 0 -3px 0 #ccc;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: none;
    color: #003057;
    box-shadow: inset 0 -3px 0 #003057;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open.active>a,
.navbar-default .navbar-nav>.open.active>a:hover,
.navbar-default .navbar-nav>.open.active>a:focus {
    color: #777;
    background: none;
    box-shadow: inset 0 -3px 0 #003057;
}
.navbar-nav .dropdown-menu {
    font-size: 0.9em;
    background: #003057;
    color: #fff;
    border-radius: 0;
}
.navbar-nav .dropdown-menu li {
    width: 100%;
    float: left;
}
.navbar-nav .dropdown-menu li a {
    color: #fff;
    padding: 9px 15px;
}
.navbar-nav .dropdown-menu li a:hover,
.navbar-nav .dropdown-menu li a:focus {
    background: transparent;
    color: #ddd;
}
.navbar-brand-logos img {
    max-height: 4em;
    margin: 2em 2em 0 0;
}
/* Content */

/* Classes */

/* Background and Blocks */

section {
    padding: 60px 0;
}
.small-padding {
    padding: 30px 0;
}
.wrapper-960 {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: inline-block;
}
.white-bg {
    background: #fff;
}
.grey-bg {
    background: #eee;
}
.blue-bg {
    background: #003057;
    color: #fff;
}

.blue-bg a:link {
    color: #fff;
}

.blue-bg a:hover,
.blue-bg a:visited {
    color: #ddd;
}

.grey-text {
    color: #aaa;
}
.grey-text:hover,
.grey-text:focus {
    color: #777;
}
.white-text {
    color: #fff;
}
.black-text {
    color: #151515;
}
.blue-text {
    color: #003057;
}
/* Text and Typography */

.caps {
    text-transform: uppercase;
}
.light {
    font-weight: 300;
}
.bold {
    font-weight: 600;
}
.white-text {
    color: #fff;
}
.blue-text {
    color: #003057;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.bigger-text {
    font-size: 1.3em;
}
.smaller-text {
    font-size: 0.75em;
}
/* Overlay Background */

.border-image {
    border-image-width: 100%;
    border-image: radial-gradient(transparent 65%, #000 86%);
    border-image-slice: 10 20 fill;
}
.bg-overlay:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bg-overlay{
    position: relative;
    background-size: cover !important;
}

.bg-overlay.darken:before {
    background-color: rgba(0,0,0,0.4);
}
.bg-overlay.darken-more:before {
    background-color: rgba(0,0,0,0.7);
}

.bg-overlay.lighten:before {
    background-color: rgba(255,255,255,0.4);
}
.bg-overlay.lighten-more:before {
    background-color: rgba(255,255,255,0.7);
}

.bg-overlay.dotted-black:before {
    background-image: radial-gradient(transparent 20%, transparent 86%), radial-gradient(transparent 65%, #000 86%);
    background-size: 3px 3px;
    background-position: 0 0, 0px 0px;
    transition: transform 150ms ease;
}
.bg-overlay.dotted-white:before {
    background-image: radial-gradient(transparent 20%, transparent 86%), radial-gradient(transparent 65%, #fff 86%);
    background-size: 3px 3px;
    background-position: 0 0, 0px 0px;
    transition: transform 150ms ease;
}
/* Slideshow */

.bb-slideshow ul {
    margin: 0;
}

.bb-slideshow {
    border: none;
    border-radius: 0;
    margin: 0;
}

.bb-slideshow .flex-direction-nav a {
    border-radius: 50%;
    border: 1px solid ;
    text-align: center;
    padding: 10px;
    width: 60px;
    height: 60px;
    opacity: 0.4;
    color: #fff;
    transition: opacity 150ms ease;
}

.bb-slideshow:hover .flex-direction-nav .flex-prev:hover,
.bb-slideshow:hover .flex-direction-nav a {
    opacity: 1;
    color: #fff;
}

.bb-slideshow .flex-direction-nav a:before {
    font-family: "Ionicons";
    font-size: 20px;
    display: inline-block;
    content: '\f124';
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    width: 100%;
    color: #fff;
}

.bb-slideshow .flex-direction-nav a.flex-next:before {
    content: '\f125';
}

.bb-slideshow .flex-direction-nav .flex-next,
.bb-slideshow:hover .flex-direction-nav .flex-next {
    right: 30px;
}

.bb-slideshow .flex-direction-nav .flex-prev,
.bb-slideshow:hover .flex-direction-nav .flex-prev {
    left: 30px;
}


.bb-slideshow .flex-control-nav {
    margin: 0;
    bottom: 30px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.bb-slideshow .flex-control-paging li a {
    width: 8px;
    height: 8px;
    background: rgba(255,255,255,0.3);
    box-shadow: none;
}

.bb-slideshow .flex-control-paging li a:hover {
    background: rgba(255,255,255,1);
    box-shadow: none;
}

.bb-slideshow .flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255,255,255,1);
    box-shadow: none;
}

.caption-wrapper,
.caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 200;
}

.vertical-align-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    padding: 15px 60px;
}

.vertical-align-wrapper {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    padding: 15px;
}

.vertical-align {
    display: table-cell;
}

.vertical-align.top,
.vertical-align.top-left,
.vertical-align.top-right {
    vertical-align: top;
}

.vertical-align.bottom,
.vertical-align.bottom-left,
.vertical-align.bottom-right {
    vertical-align: bottom;
}

.vertical-align.center,
.vertical-align.left,
.vertical-align.right {
    vertical-align: middle;
}

.horizontal-align {
    float: none;
    display: table;
}

.vertical-align.left .horizontal-align,
.vertical-align.top-left .horizontal-align,
.vertical-align.bottom-left .horizontal-align {
    float: left;
}

.vertical-align.right .horizontal-align,
.vertical-align.top-right .horizontal-align,
.vertical-align.bottom-right .horizontal-align {
    float: right;
}

.vertical-align.top .horizontal-align,
.vertical-align.center .horizontal-align,
.vertical-align.bottom .horizontal-align {
    float: none;
    margin: 0 auto;
    display: table;
}

.caption-contents {
    padding: 45px;
}


/* Employees */
.employee-card {
    background: #fff;
    box-shadow: 0 0 10px -3px #ddd;
    padding: 0;
}

.employee-image,
.employee-info {
    float: left;
}

.employee-image {
    max-height: 150px;
    max-width: 100px;
}

.employee-info {
    text-align: left;
}

.employee-info h4,
.employee-info p,
.employee-buttons {
    padding: 0 10px;
}

.employee-info h4 {
    margin: 0;
}

.employee-info p {
    margin: 0 0 10px;
}

.employee-buttons a:first-child {
    margin-right: 10px;
}

/* Selectpicker */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.bootstrap-select>.dropdown-toggle {
    padding: 10px 0 15px 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    transition: padding-left 150ms ease;
    line-height: 2em;
}
.bootstrap-select.open>.dropdown-toggle,
.bootstrap-select>.dropdown-toggle:focus,
.bootstrap-select>.dropdown-toggle:hover {
    background: transparent;
    border-bottom: 1px solid #003057;
    padding-left: 5px;
    outline: none !important;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    float: right;
    position: relative;
    top: auto;
    right: auto;
    margin-top: auto;
    border: none;
}
.bootstrap-select.btn-group .dropdown-toggle .caret:after {
    content: '\f123';
    font-family: 'Ionicons';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0px;
}

.bootstrap-select.btn-group.dropup .dropdown-toggle .caret:after {
    content: '\f126';
}
.bootstrap-select .dropdown-menu {
    border-radius: 0;
    font-size: 1em;    
    margin-top: 0;
    border-radius: 0;
}

.bootstrap-select .dropdown-menu.open {
    border-top: 2px solid #003057;
}

.bootstrap-select.dropup .dropdown-menu.open {
    border-top: 0;
    border-bottom: 2px solid #003057;
}

.bootstrap-select .dropdown-menu a {
    padding: 10px 15px;
    background: transparent;
    color: #777;
}
.bootstrap-select .dropdown-menu a:hover,
.bootstrap-select .dropdown-menu a:focus {
    background: transparent;
    color: #003057;
}

input[type="submit"]{
    margin: 30px 0;
    font-weight: 400;
}

.selectpicker-label {
    font-weight: 400;
    width: 100%;
    text-align: left;
    font-size: 0.75em;
    margin-bottom: 0;
    color: #003057;
}

/* Cards */
.card,
.card-header,
.card-title,
.card-body,
.card-list,
.card-icon {
    width: 100%;
    float: left;
    display: inline-block;
    position: relative;
}

.card {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 30px 0;
}

.card.white-bg {
    color: #151515;
}

.card.blue-bg {
    color: #fff;
}

.card-icon {
    font-size: 3.5em;
}
.card-icon img {
    max-width: 2em;
    max-height: 2em;
}

.card-header {
    border-bottom: 1px solid transparent;
    padding: 1em 0 2.5em 0;
}

.card .card-header {
    border-bottom: 1px solid #ddd;
}

.white-bg .card-header {
    border-bottom: 1px solid #ddd;
}

.blue-bg .card-header {
    border-bottom: 1px solid #fff;
}

.card-title {
    font-size: 1.3em;
    margin: 0;
}

.card-body {
    padding: 5px 0;
}

.card-list {
    list-style: none;
    padding: 0;
}

.card-list > li > a {
    width: 100%;
    display: block;
    float: left;
    padding: 10px;
}


/* Footer */

footer {
    font-size: 0.8em;
}

footer .footer-header {
    text-transform: uppercase;
    font-size: 1em;
    padding-bottom: 5px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

footer ul a {
    width: 100%;
    display: block;
    float: left;
    padding: 5px 0;
}

.footer-search,
.footer-search-button {
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 75%;
    float: left;
    position: relative;
    padding: 10px 16px 10px 35px;
}

.footer-search-wrapper:after {
    content: '\f4a4';
    position: absolute;
    left: 25px;
    font-family: 'Ionicons';
    height: 1.8em;
    font-size: 3em;
    bottom: 30px;
}

.footer-search-button,
.footer-search-button:focus,
.footer-search-button:hover {
    padding: 15px 16px 14px 16px;
    width: 25%;
    border: none;
}

.footer-social-list li a {
    float: left;
    width: auto;
    margin-right: 15px;
}

.footer-social-list i {
    font-size: 2.5em;
}

.footer-bottom-list li a {
    float: left;
    width: auto;
}


/* Breakpoints */

/* X-Small devices*/

@media (max-width: 767px) {
    /* Typography */
    h1 {}
    h2 {
        font-size: 2.2em;
        margin: 0.75em 0 0.25em 0;
    }
    h3 {}
    h4 {}
    h5 {}
    p {}
    
    /* Navmenu */
    header {
        box-shadow: inset 0 -3px 0 #003057;
    }
    .navbar-brand {
        box-shadow: none;
    }
    
    .navbar-brand img {
        max-height: 2.6em;
    }
    
    .navbar-offcanvas {
        width: 90%;
    }
    .offcanvas-toggle.navbar-toggle {
        border-radius: 0;
        padding: 12px 10px;
        border: none;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 15px 10px;
    }
    .navbar-default .navbar-nav .dropdown-menu {
        background: #fff !important;
        text-align: center;
    }
    .navbar-default .navbar-nav .dropdown-menu.shown {
        display: none;
    }
    .navbar-default .dropdown.open .dropdown-menu {
        display: block !important;
        height: auto;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        padding: 15px 10px;
    }
    .navbar-toggle.offcanvas-toggle.offcanvas-toggle-close {
        background: #003057;
        padding: 10px;
        margin: 15px 15px 15px 0;
    }
    .navbar-toggle.offcanvas-toggle-close:hover,
    .navbar-toggle.offcanvas-toggle-close:focus,
    .navbar-toggle.offcanvas-toggle-close:active {
        padding: 10px;
        background: #003d6f;
    }
    .offcanvas-toggle .icon-bar {
        background: #fff;
    }
    .navbar-toggle:hover .icon-bar,
    .navbar-toggle:focus .icon-bar {
        background: #eee;
    }
    .navbar-default .navbar-nav>.active>a {
        box-shadow: none;
    }
    .navbar-nav li {
        float: left;
        width: 100%;
    }
    
    /* Structure */
    .wrapper-960 {
        max-width: 100%;
        margin: 0 auto;
        display: inline-block;
    }
    section {
        padding: 30px 0;
    }
    
    /* Cards */
    .card {
        margin: 15px 0;
    }
    
    /* buttons */
    
    .btn:not([type="input"]) {
        margin-top: 15px;
    }
    
    /* Slideshow */
    
    .bb-slideshow {
        border-bottom: 15px solid #eee;
    }
    
    .caption-wrapper,
    .caption,
    .vertical-align-wrapper,
    .vertical-align {
        position: relative;
        width: 100%;
        height: 100%;
        float: left;
        display: block;
        z-index: 200;
        background: #fff;
        color: #151515;
    }
    .caption-wrapper .white-text {
        color: #151515;
    }
    .caption-contents {
        padding: 0;
    }
    
    
    .bb-slideshow .flex-control-nav {
        position: relative;
        bottom: 0;
        padding: 15px 0;
    }
    
    .bb-slideshow .flex-direction-nav {
        display: none;
    }
    
    .bb-slideshow .flex-control-paging li a {
        width: 8px;
        height: 8px;
        background: rgba(0, 48, 87,1);
        transition: box-shadow 150ms ease;
        box-shadow: inset 0 0px 0 1px #003037;
    }

    .bb-slideshow .flex-control-paging li a:hover {
        background: rgba(0, 48, 87,1);
        box-shadow: inset 0 0px 0 1px #003037;
    }

    .bb-slideshow .flex-control-paging li a.flex-active {
        background: #fff;
        background: rgba(255,255,255,1);
        box-shadow: inset 0 0px 0 1px #003037;
    }
    
    /* Footer */
    
    footer {
        text-align: center;
    }
    .footer-search-wrapper .btn {
        margin-top: 5px;
    }
    footer ul {
        display: inline-block;
        width: 100%;
        float: left;
        margin-bottom: 30px;
    }
    
    
}
/* Small devices */

@media (min-width: 768px) and (max-width: 992px) {
    .navbar-nav {
        float: left;
        margin-left: 30px;
    }
    
    .navbar-brand-logos img {
        max-height: 3em;
        margin-top: 2.5em;
    }
    
    /* Slideshow */
    
    .bb-slideshow .flex-direction-nav a {
        width: 40px;
        height: 40px;
        padding: 0;
    }
    
    .bb-slideshow .flex-direction-nav .flex-next,
    .bb-slideshow:hover .flex-direction-nav .flex-next {
        right: 15px;
    }
    
    .bb-slideshow .flex-direction-nav .flex-prev,
    .bb-slideshow:hover .flex-direction-nav .flex-prev {
        left: 15px;
    }
    
}

/* Medium devices */
@media (max-width: 1199px) {}
/* Large Devices */

@media (min-width: 1200px) {}